<div style="display: flex; justify-content: center; width: 100%;">
  <div style="max-width: 1400px;">
    <div class="city-select-container">
      <mat-form-field class="full-width">
        <mat-select (selectionChange)="updateCity()" [(ngModel)]="city" [compareWith]="compareObjects"
                    style="font-size: 25px">
          <mat-option *ngFor="let city of cities" [value]="city">
            {{city.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="products-container">
      <div class="filters-container">

        <div class="price-container">
          <div class="text-container">
            Ціна:
          </div>
          <div class="price-inputs">
            <div>
              <input [formControl]="priceFrom" class="red-input" placeholder="">
            </div>
            <div>
              <hr class="red-line">
            </div>
            <div>
              <input [formControl]="priceTo" class="red-input" placeholder="">
            </div>
          </div>
        </div>

        <div class="manufacturers-filter-container">
          <div class="text-container">
            Виробник:
          </div>
          <div class="manufacturers-checkboxes">
            <label *ngFor="let manufacturer of manufacturers" class="container">{{manufacturer.manufacturer.name}}
              <input [formControl]="manufacturer.checked" type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>

          <div class="manufacturers-filter-container">
            <div class="text-container">
              Наявність:
            </div>
            <div class="manufacturers-checkboxes">
              <label class="container">В наявності
                <input [formControl]="inStockChecked" type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>

          <div class="manufacturers-filter-container">
            <div class="text-container">
              Акційний:
            </div>
            <div class="manufacturers-checkboxes">
              <label class="container">Акційний товар
                <input [formControl]="onPromotionChecked" type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>

          <div class="buttons-container">
            <button class="reset-btn" color="warn" mat-button>
              Скинути
            </button>
            <button (click)="updateFilters()" class="apply-btn" color="warn" mat-button>
              Примінити
            </button>
          </div>
        </div>
      </div>

      <div class="product-items-container">
        <div *ngFor="let product of products.items" class="product-item">
          <div [routerLink]="['/product', product.uuid]" class="top">
            <div class="product-image">
              <img [src]="imageService.getImage(product.imageName)" alt="product-image">
            </div>
          </div>
          <div class="bottom">
            <div [routerLink]="['/product', product.uuid]">
              <div class="product-name">
                {{product.name}}
              </div>
              <div class="product-availability">
                <div *ngIf="isInStock(product)" class="green-text">
                  в наявності
                </div>
                <div *ngIf="!isInStock(product)" class="red-text">
                  не в наявності
                </div>
              </div>
              <div [ngClass]="{'crossed-text-red': product.discount > 0}" class="product-price">
                {{product.price}} грн
              </div>
              <div *ngIf="product.discount > 0" class="product-discount">
                {{product.finalPrice}} грн
              </div>
            </div>
            <div class="basket-btn-container">
              <button (click)="addToBasket(product)" [disabled]="!isInStock(product)"
                      [ngClass]="{'disable': !isInStock(product)}" class="basket-btn">
                В корзину
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <mat-paginator #productsPaginator (page)="productsPaginatorChanged($event)"
                   [length]="this.products.totalElements"
                   [pageSizeOptions]="[9, 18, 27, 36, 90]"
                   [pageSize]="9">
    </mat-paginator>
  </div>
</div>
