<div *ngIf="!check()" class="general-container">
  <div class="width-limiter">
    <div class="header-container">
      <header class="header">
        <div (click)="changeIndex(0)" class="logo-container" routerLink="/">
          <img alt="logo-image" src="../../../assets/img/hookah-img-2.png">
        </div>
        <div class="navigation-container">
          <div (click)="changeIndex(0)" [ngClass]="{'underline': currentMenuIndex === 0}"
               class="text-vertical-center mr-30"
               routerLink="/"
          >
            Головна
          </div>
          <div (click)="changeIndex(1)" [ngClass]="{'underline': currentMenuIndex === 1}"
               class="text-vertical-center mr-30"
               routerLink="/shop"
          >
            Магазин
          </div>
          <div (click)="changeIndex(2)" [ngClass]="{'underline': currentMenuIndex === 2}"
               class="text-vertical-center mr-30"
               routerLink="/about-us">
            Про нас
          </div>
          <div (click)="changeIndex(3)" [ngClass]="{'underline': currentMenuIndex === 3}" class="text-vertical-center"
               routerLink="/profile">
            Профіль
          </div>
        </div>
        <div (click)="changeIndex(4)" class="basket-container" routerLink="/shopping-cart">
          <span [matBadge]="basketService.getCount().toString()" matBadgeColor="primary" matBadgeOverlap="true"
                matBadgePosition="above after" matBadgeSize="medium">
            <img alt="logo-image" src="../../../assets/img/basket.png">
          </span>
        </div>
      </header>
    </div>
    <router-outlet></router-outlet>

    <footer class="footer" style="margin-top: 20px;">
      <div class="footer-text">
        <div class="margin" style="cursor: pointer;">
          Оплата та доставка
        </div>
        <div routerLink="/about-us" style="cursor: pointer;">
          Наші контакти
        </div>
      </div>
      <div class="images-container">
        <a class="margin" href="https://www.instagram.com/" target="_blank">
          <img src="../../../assets/img/facebook.png">
        </a>
        <a href="https://www.facebook.com/" target="_blank">
          <img src="../../../assets/img/insta.png">
        </a>
      </div>
    </footer>
  </div>
</div>

<router-outlet *ngIf="check()"></router-outlet>
