.items-container {
  display: flex;
  flex-flow: row wrap;
  @media screen and (max-width: 960px) {
    justify-content: center;
  }
}

.centered-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus-img-container {
  display: flex;
  justify-content: center;
}

.box-item {
  max-width: 350px;
  min-width: 250px;
  max-height: 350px;
  min-height: 300px;
  background: rgba(196, 196, 196, 0.2);
  border: 1px solid #000000;
  border-radius: 10px;
  @media screen and (max-width: 960px) {
    margin: 10px;
  }
  @media screen and (min-width: 960px) {
    margin: 30px;
  }
}

.box-item:hover {
  background: rgba(196, 196, 196, 0.8);
  cursor: pointer;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.img-container img {
  max-width: 90%;
  max-height: 100%;
  border-radius: 10px;
}

.text-container {
  display: flex;
  justify-content: center;
  height: 30%;
}

.text-inner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
  font-weight: 500;
  font-size: 22px;
}
