.city-select-container {
  display: flex;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
}

.full-width {
  font-weight: 500;
  font-size: 25px;
  width: 30%;
  @media screen and (max-width: 700px) {
    width: 100%;
  }
}

.slider-container {
  @media screen and (max-width: 700px) {
    margin-top: 15px;
  }
  @media screen and (min-width: 700px) {
    margin-top: 30px;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
}

.item img {
  max-width: 100%;
  max-height: 100%;
  min-height: 200px;
  @media screen and (max-width: 700px) {
    border-radius: 30px;
  }
  @media screen and (min-width: 700px) {
    border-radius: 60px;
  }
}

