.main-container {
  background: rgba(196, 196, 196, 0.7);
}

.mr-40 {
  margin: 1vh 2vw;
}

img {
  height: 5vh;
}

.logout-btn {
  height: 5vh;
  min-width: 10vw;
  font-weight: 500;
  color: #FF0000;
  border: 2px solid #FF0000;
  border-radius: 15px;
}
