<div class="fill-height" fxLayout="row">
  <div fxFlex="13" fxLayoutAlign="center center">
    <div class="menu-container" fxLayout="column" fxLayoutGap="20px">
      <div [ngClass]="{'menu-item-selected': getCurrentRoute() === 'sellers'}" class="menu-item" fxLayout="row"
           fxLayoutAlign="start center" fxLayoutGap="10px" routerLink="/sp/sellers">
        <img alt="user" src="../../../../../assets/img/user.png">
        <div class="big-text" fxHide.sm fxHide.xs>Учасники</div>
      </div>
      <div [ngClass]="{'menu-item-selected': getCurrentRoute() === 'clients'}" class="menu-item" fxLayout="row"
           fxLayoutAlign="start center" fxLayoutGap="10px" routerLink="/sp/clients">
        <img alt="user" src="../../../../../assets/img/users.png">
        <div class="big-text" fxHide.sm fxHide.xs>Користувачі</div>
      </div>
      <div [ngClass]="{'menu-item-selected': getCurrentRoute() === 'manufacturers'}" class="menu-item"
           fxLayout="row"
           fxLayoutAlign="start center" fxLayoutGap="10px" routerLink="/sp/manufacturers">
        <img alt="user" src="../../../../../assets/img/categories.png">
        <div class="big-text" fxHide.sm fxHide.xs>Категорії</div>
      </div>
      <div [ngClass]="{'menu-item-selected': getCurrentRoute() === 'orders'}" class="menu-item" fxLayout="row"
           fxLayoutAlign="start center" fxLayoutGap="10px" routerLink="/sp/orders">
        <img alt="user" src="../../../../../assets/img/order.png">
        <div class="big-text" fxHide.sm fxHide.xs>Замовлення</div>
      </div>
      <div [ngClass]="{'menu-item-selected': getCurrentRoute() === 'posts'}" class="menu-item" fxLayout="row"
           fxLayoutAlign="start center" fxLayoutGap="10px" routerLink="/sp/posts">
        <img alt="user" src="../../../../../assets/img/news.png">
        <div class="big-text" fxHide.sm fxHide.xs>Статті</div>
      </div>
    </div>
  </div>
  <div style="width: 100%">
    <router-outlet></router-outlet>
  </div>
</div>
