// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$HookahShopee-primary: mat-palette($mat-grey);
$HookahShopee-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$HookahShopee-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$HookahShopee-theme: mat-light-theme($HookahShopee-primary, $HookahShopee-accent, $HookahShopee-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($HookahShopee-theme);

/* You can add global styles to this file, and also import other style files */

@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.mat-form-field-infix {
  border-top: 0 solid transparent !important;
}

.mat-form-field-underline {
  display: none !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

//.mat-select-arrow {
//  color: #000000 !important;
//  border-left: 10px solid transparent !important;
//  border-right: 10px solid transparent !important;
//  border-top: 20px solid !important;
//}
//
//mat-select {
//  width: fit-content !important;
//  min-width: 100% !important;
//}
//
//.mat-form-field-infix {
//  min-width: 75px !important;
//  width: fit-content !important;
//}
//
//mat-select .mat-select-value {
//  width: fit-content !important;
//  min-width: 2ch !important;
//  max-width: 25ch !important;
//}
//
//mat-select .mat-select-placeholder {
//  width: fit-content !important;
//  min-width: 10ch !important;
//}

.red-button {
  border-radius: 15px;
  border: 2px solid #FF0000;
  font-weight: 500;
  font-size: 20px;
  color: #FF0000;
  text-align: center;
  background-color: #FFFFFF;
  cursor: pointer;
}

.red-button:hover {
  background-color: #ffc0cc;
  transition: background-color 0.5s ease-in;
}

.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.mt-40-20px {
  @media screen and (max-width: 690px) {
    margin-top: 20px;
  }
  @media screen and (min-width: 690px) {
    margin-top: 40px;
  }
}
