.top-flex-container {
  display: flex;
  flex-flow: row wrap;
  margin-top: 3vh;
  align-items: flex-start;
}

.bottom-flex-container {
  display: flex;
  flex-flow: row wrap;
  margin-top: 5vh;
  margin-left: 1vw;
  font-weight: 500;
  font-size: 36px;
}

.logo-container {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-bottom: 2vh;
}

.logo-container img {
  max-width: 200px;
  max-height: 200px;
}

.info-container {
  margin-top: 15px;
  max-width: 300px;
  flex: 1;
}

.text-container {
  display: flex;
  justify-content: center;
}

.text-container mat-label {
  margin-right: 15px;
}

.red-btn {
  border: 2px solid #FF0000;
  border-radius: 15px;
  color: #FF0000;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
}

.buttons-container button {
  margin-left: 0 !important;
}

///////////////

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.item-container {
  justify-items: flex-start;
  @media screen and (max-width: 960px) {
    flex-basis: 40%;
  }
  @media screen and (min-width: 960px) {
    flex-basis: 20%;

  }
  margin-top: 3vh;
  border: 1px solid #000000;
  border-radius: 10px;
  background: rgba(196, 196, 196, 0.2);
  min-width: 260px;
}

.item-container-first {
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 960px) {
    flex-basis: 40%;
  }
  @media screen and (min-width: 960px) {
    flex-basis: 20%;

  }
  margin-top: 3vh;
  border: 1px solid #000000;
  border-radius: 10px;
  background: rgba(196, 196, 196, 0.2);
  min-width: 260px;
}

.item-container-first:hover, .item-container:hover {
  background: rgba(196, 196, 196, 0.8);
  cursor: pointer;
}

.manufacturer-logo {
  display: flex;
  justify-content: center;
}

.manufacturer-logo img {
  max-width: 100%;
  max-height: 100%;
}

.manufacturer-name {
  text-align: center;
  margin-bottom: 1vh;
  margin-top: 2vh;
  font-weight: 500;
}

.red {
  color: #FF0000;
}

.green {
  color: #639227;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}
