<div *ngIf="cities[0]" class="city-select-container">
  <mat-form-field class="full-width">
    <mat-select value="{{cities[0].name}}">
      <mat-option *ngFor="let city of cities" value="{{city.name}}">
        {{city.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div>
  <div class="filters-container">

  </div>
  <div>

  </div>
</div>

<mat-paginator #productsPaginator (page)="productsPaginatorChanged($event)"
               [length]="this.products.totalElements"
               [pageSizeOptions]="[9, 18, 27, 36, 90]"
               [pageSize]="9">
</mat-paginator>
