.city-select-container {
  display: flex;
  justify-content: center;
}

.full-width {
  width: 30%;
}

mat-select {
  font-size: 20px;
}

.filters-container {
  width: 330px;
  background: #1B551A;
  height: 100vh;
  background: red;
}
