.main-container {
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 50px;
}

.shop-name {
  font-weight: 500;
  font-size: 30px;
  color: #0C0B0B;
}

.lviv-shop-container {
  margin-top: 25px;
}

.city-name {
  font-weight: 500;
  font-size: 22px;
}

.shop-info-container {
  display: flex;
  flex-flow: row wrap;
}

.shop-info-outer {
  margin-top: 18px;
  margin-right: 45px;
}

.working-hours {
  margin-top: 9px;
  font-weight: 500;
  font-size: 16px;
  margin-left: 10px;
}

.working-hours-inner {
  display: flex;
  align-items: center;
}

.working-hours-inner img {
  margin-right: 4px;
  height: 25px;
}

.container-title {
  font-weight: 500;
  font-size: 18px;
}

.contacts {
  margin-top: 18px;
}

.contacts-info {
  margin-top: 9px;
  font-weight: 500;
  font-size: 16px;
  margin-left: 10px;
}

.contact {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
}

.contact img {
  margin-right: 4px;
  height: 25px;
}

.mr-top {
  margin-top: 8px;
}

.addresses-map-name {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 25px;
}

#map {
  height: 500px;
  width: 100%;
}
