<div class="main-container">
  <div class="shop-name">
    Магазин “Залупка”
  </div>

  <div class="lviv-shop-container">
    <div class="city-name">
      Львів
    </div>
    <div class="shop-info-container">
      <div class="shop-info-outer">
        <div class="container-title">
          Графік роботи
        </div>
        <div class="working-hours">
          <div class="working-hours-inner">
            <img src="../../../../assets/img/red-circle.png"/>
            пн - пт: 8:00 - 22:00
          </div>
          <div class="working-hours-inner mr-top">
            <img src="../../../../assets/img/red-circle.png"/>
            сб - нд: 8:00 - 22:00 ( уточняти за телефоном )
          </div>
        </div>
      </div>

      <div class="contacts">
        <div class="container-title">
          Контакти
        </div>
        <div class="contacts-info">
          <a class="contact" href="tel:+380509827026">
            <img src="../../../../assets/img/phone-icon.png"/>
            380 50 98 27 026
          </a>
          <a class="contact mr-top" href="mailto:bohdan.dankovych@gmail.com">
            <img src="../../../../assets/img/email-icon.png"/>
            bohdan.dankovych@gmail.com
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="lviv-shop-container">
    <div class="city-name">
      Івано-Франківськ
    </div>
    <div class="shop-info-container">
      <div class="shop-info-outer">
        <div class="container-title">
          Графік роботи
        </div>
        <div class="working-hours">
          <div class="working-hours-inner">
            <img src="../../../../assets/img/red-circle.png"/>
            пн - пт: 8:00 - 22:00
          </div>
          <div class="working-hours-inner mr-top">
            <img src="../../../../assets/img/red-circle.png"/>
            сб - нд: 8:00 - 22:00 ( уточняти за телефоном )
          </div>
        </div>
      </div>

      <div class="contacts">
        <div class="container-title">
          Контакти
        </div>
        <div class="contacts-info">
          <a class="contact" href="tel:+380509827026">
            <img src="../../../../assets/img/phone-icon.png"/>
            380 50 98 27 026
          </a>
          <a class="contact mr-top" href="mailto:bohdan.dankovych@gmail.com">
            <img src="../../../../assets/img/email-icon.png"/>
            bohdan.dankovych@gmail.com
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="addresses-map-name">
    Адреси магазинів “Залупка”
  </div>
  <div #mapContainer id="map"></div>
</div>

