<app-login-panel (returned)="onReturned2()"
                 *ngIf="!authenticationService.isAuthenticated() && currentMenuIndex === 0"></app-login-panel>
<app-registration (returned)="onReturned()" *ngIf="currentMenuIndex === 1"></app-registration>

<div
  *ngIf="!authenticationService.isSellerOrAdmin()  && authenticationService.isAuthenticated() && currentMenuIndex === 0">
  <app-client-profile>
  </app-client-profile>
</div>

<div *ngIf="authenticationService.isSellerOrAdmin() && currentMenuIndex === 0">
  <a routerLink="/sp">
    Вітаю!
    Ви адмін або продавець, значить вам сюди.
  </a>
</div>
