<footer class="footer" style="margin-top: 20px;">
  <div class="footer-text" style="margin-bottom: 10px;">
    <div class="margin" routerLink="/about" style="cursor: pointer;">
      Оплата та доставка
    </div>
    <div routerLink="/about" style="cursor: pointer;">
      Наші контакти
    </div>
  </div>
  <div class="images-container">
    <a class="margin" href="https://www.facebook.com/" target="_blank">
      <img src="../../../assets/img/facebook.png">
    </a>
    <a href="https://www.instagram.com/" target="_blank">
      <img src="../../../assets/img/insta.png">
    </a>
  </div>
</footer>

